<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title"><%= date_helper(comment.created_at)%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><u>Commenter:&nbsp;</u> <%= comment.user.email%></h6>
    <p class="card-text"><%=comment.body%></p>
    <%= edit_comment_link(@article, comment) %>
    <%= delete_comment_link(@article, comment) %>
  </div>
</div>