<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= date_helper(@article.created_at)%>,  by:
    <strong><%= @article.user.email %></strong>
  </p>
  <p><%= @article.body %></p>
  <%= link_to "Go Back", root_path, class: 'btn btn-secondary' %>
  <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-secondary' %>
  <%= link_to "Destroy", article_path(@article), data: {
                  method: :delete,
                  confirm: "Are you sure?"
                }, class: 'btn btn-danger' %>
</article>